.small-smoothie-chart {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.small-smoothie-chart.smoothie-chart-tooltip {
    background: #444;
    padding: 1em;
    margin-top: 20px;
    font-family: consolas;
    color: white;
    font-size: 10px;
    pointer-events: none;
}