body {
    background-color: #333;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

button {
    background-color: #e74c3c; /* MX5 Rot */
    color: white;
    padding: 15px 32px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}