
/*
 *  Styling by class
 */
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.small-spacer {
    margin: 2rem;
}

/*
 *  Styling by ID
 */
#body-content {
    margin: 1rem;
}